@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2D3440;
  background-color: #FEAFC3;
}

.wrapper {
  width: 1170px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 32px;
  text-align: center;
  color: inherit;
  background-color: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  border: 4px solid #FCFCFC;
  box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
}

.button:active,
.button:focus-visible {
  border: 2px solid #2D3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
}

.button:invalid {
  background-color: #E7E7E7;
  color: #B9B9B9;
  border: 4px solid rgba(252, 252, 252, 0.4);
}

/* Header */

.main-header {
  display: flex;
  align-items: center;
}

/* logo-header */

.logo-link {
  margin-top: 1px;
  text-decoration: none;
}

/* navigation-menu */

.navigation-menu {
  display: flex;
  margin-left: 17px;
}

.navigation-menu-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.button-link {
  padding: 8px 16px;
  background-color: #FEAFC3;
  font-weight: 400;
  border: none;
  box-shadow: none;
}

.button-catalog {
  position: relative;
}

/* navigation-menu-within */

.navigation-menu-within {
  display: none;
  box-sizing: border-box;
  position: absolute;
  background-color: #FCFCFC;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
  padding: 10px 0;
  margin-top: 8px;
}

.catalog-within-list {
  display: grid;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog-within-item {
  width: 135px;
}

.button-within {
  display: inline-block;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 0;
  padding-left: 16px;
  width: 100%;
  border: none;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.button-within:hover {
  background-color: #FFCBD8;
}

.button-within:active {
  background-color: #FF7799;
}

.button-within:focus-within {
  background-color: #FF4A78;
  outline: 2px solid transparent;
  color: #FCFCFC;
}

.within-item-link-special {
  font-weight: 700;
  padding-bottom: 10px;
}

.within-item-link-special:last-child {
  margin-bottom: 5px;
  position: relative;
}

.within-item-link-special:last-child::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #B9B9B9;
  width: 103px;
  left: 17px;
  top: 37px;
}

/* navigation-user */

.navigation-user {
  margin-left: auto;
}

.navigation-menu,
.navigation-user {
  margin-top: -4px;
}

.navigation-user-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.navigation-user-item {
  display: flex;
}

.navigation-user-item:not(:last-child) {
  padding-right: 16px;
}


.header-contact-phone {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
}

.button-header {
  font-size: 14px;
  font-weight: 400;
  padding: 6px 16px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  border: none;
}

.search-button {
  color: inherit;
  width: 32px;
  height: 32px;
  position: relative;
  padding-left: 8px;
}

.button-link:hover,
.button-header:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
  border: none;
}

.button-link:active,
.button-header:focus-visible {
  background-color: #FCFCFC;
  border-radius: 30px;
  border: none;
  outline: 2px solid transparent;
}

.button-link:focus-visible,
.button-header:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
  border-radius: 30px;
  border: none;
}

.button-link:valid,
.button-header:valid {
  background-color: #FF4A78;
  border-radius: 30px;
  color: #FCFCFC;
  border: none;
}

.log-in-button,
.basket-button {
  display: flex;
  align-items: center;
}

.log-in-button-icon,
.basket-button-icon {
  margin-right: 6px;
}

.basket-number-of-products {
  margin-right: 4px;
}

/* popover */

.popover {
  display: block;
  background-color: #FCFCFC;
  border-radius: 4px;
  position: absolute;
  box-sizing: border-box;
  margin-top: 6px;
  top: 47px;
}

.popover-search {
  transform: translateX(-91%);
  padding: 24px 16px;
  width: 356px;
  display: none;
}

.search-form {
  margin: 0;
  position: relative;
}

.delete-button {
  position: relative;
  display: block;
  top: -2px;
  right: -2px;
  width: 20px;
  height: 20px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.delete-button::before,
.delete-button::after {
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  top: 10px;
  left: 5px;
  width: 12px;
  height: 2px;
  background: #2D3440;
}

.delete-button::before {
  transform: rotate(45deg);
}

.delete-button::after {
  transform: rotate(-45deg);
}

.delete-button-search {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 16px;
  height: 16px;
  opacity: 0.4;
}

.delete-button-search::before,
.delete-button-search::after {
  top: 8px;
  left: 0;
  width: 16px;
  height: 1px;
}

.field-search-form:placeholder-shown~.delete-button-search {
  display: none;
}

.field {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  padding: 14px 16px;
  outline: 1px solid #B9B9B9;
  border: none;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  min-width: 322px;
  cursor: pointer;
}

.field::placeholder {
  color: #B9B9B9;
}

.field:focus-visible {
  outline: 2px solid #2D3440;
}

.field:invalid {
  outline: 1px solid #EA5454;
}

.field:invalid:hover {
  outline: 2px solid #EA5454;
}

.field:disabled,
.field:disabled:hover {
  background: #E7E7E7;
  outline: 1px solid #B9B9B9;
}

.field:placeholder-shown {
  outline: 1px solid #B9B9B9;
}

.field:hover,
.field:placeholder-shown:hover {
  outline: 1px solid #2D3440;
}

.popover-log-in {
  padding: 48px;
  width: 420px;
  transform: translateX(-79.5%);
  display: none;
}

.popover-header-text {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.log-in-email-form {
  margin-bottom: 31px;
}

.field-log-in-email {
  margin-bottom: 16px;
}

.field-log-in-password,
.field-log-in-email {
  margin-left: 2px;
  padding: 14px 14px;
}

.popover-buttons {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 23px;
  margin: 0;
}

.popover-buttons-basket {
  column-gap: 32px;
  align-items: baseline;
  margin-top: 62px;
  position: relative;
}

.popover-buttons-basket::before {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #E7E7E7;
  width: 100%;
  top: -32px;
}

.button-popover {
  background-color: #FF2F64;
  border: none;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  grid-column: 1/2;
  grid-row: 1/3;
  min-height: 48px;
  color: #FCFCFC;
}

.button-popover-get-in {
  padding: 10px 32px;
  width: 113px;
  min-height: 46px;
}

.popover-basket-button {
  min-width: 198px;
  min-height: 44px;
}

.popover-link {
  grid-column: 2/3;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
  padding-bottom: -2px;
  position: relative;
}

.popover-link::before {
  content: "";
  position: absolute;
  background-color: #2D3440;
  width: 100%;
  height: 1px;
  top: 20px;
  bottom: 0;
}

.popover-link-forgot-password {
  grid-row: 1/2;
}

.popover-link-registration {
  grid-row: 2/3;
}

.popover-link-registration::before {
  width: 89px;
}

.button-popover:hover {
  outline: 4px solid #FF2F64;
  border: none;
  color: #2D3440;
}

.button-popover:active,
.button-popover:focus-visible {
  outline: 2px solid #2d3440;
  border: none;
  background-color: #feafc3;
  color: #fcfcfc;
}

.button-popover:focus-visible {
  background-color: #ff2f64;
}

.button-popover:disabled {
  background: #b9b9b9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
}

/* popover-basket */

.popover-basket {
  padding-right: 48px;
  padding-top: 50px;
  padding-bottom: 48px;
  padding-left: 50px;
  width: 441px;
  transform: translateX(-74.5%);
  display: none;
}

.popover-basket-no-items {
  padding: 48px 0;
  min-width: 288px;
  transform: translateX(-68.5%);
  display: none;
}

.popover-basket-no-items-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  text-align: center;
}

.basket-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.basket-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.basket-item:not(:last-child) {
  margin-bottom: 24px;
}

.basket-link {
  display: grid;
  grid-template-columns: max-content 148px max-content;
  grid-template-rows: repeat(2, min-content);
  align-items: center;
  text-decoration: none;
  color: inherit;
  column-gap: 16px;
}

.basket-image {
  grid-row: 1/3;
}

.basket-item-description {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 0;
}

.basket-item-description-amount {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #B9B9B9;
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 0;
}

.basket-item-amount {
  grid-column: 3/4;
  grid-row: 1/3;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.full-amount-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}
