@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2D3440;
}

body .body-blue {
  background-color: #69A9FF;
}

body .body-orange {
  background-color: #FCC850;
}

.body-pink {
  background-color: #FEAFC3;
}

/* .hidden {
  display: none;
} */

.wrapper {
  width: 1170px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 32px;
  text-align: center;
  color: inherit;
  border: none;
  background-color: #FCFCFC;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;
  box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
}

.button:active,
.button:focus-visible {
  outline: 2px solid #2D3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.button:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
}

.button:invalid {
  background-color: #E7E7E7;
  color: #B9B9B9;
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

/* Header */

.main-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 104px;
}

/* logo-header */

.logo-link {
  margin-top: 1px;
  text-decoration: none;
}

/* navigation-menu */

.navigation-menu {
  display: flex;
  margin-left: 17px;
}

.navigation-menu-list {
  display: flex;
  flex-wrap: wrap;
  width: 510px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.button-link {
  padding: 8px 16px;
  background-color: inherit;
  font-weight: 400;
  border: none;
  outline: none;
  box-shadow: none;
}

.button-catalog {
  position: relative;
}

/* navigation-menu-within */

.navigation-menu-within {
  display: none;
  box-sizing: border-box;
  position: absolute;
  background-color: #FCFCFC;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
  padding: 10px 0;
  margin-top: 8px;
  z-index: 1;
}

.catalog-within-list {
  display: grid;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog-within-item {
  width: 135px;
}

.button-within {
  display: inline-block;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 0;
  padding-left: 16px;
  width: 100%;
  border: none;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.button-within:hover {
  background-color: #FFCBD8;
}

.button-within:active {
  background-color: #FF7799;
}

.button-within:focus-within {
  background-color: #FF4A78;
  outline: 2px solid transparent;
  color: #FCFCFC;
}

.within-item-link-special {
  font-weight: 700;
  padding-bottom: 10px;
}

.within-item-link-special:last-child {
  margin-bottom: 5px;
  position: relative;
}

.within-item-link-special:last-child::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #B9B9B9;
  width: 103px;
  left: 17px;
  top: 37px;
}

/* navigation-user */

.navigation-user {
  margin-left: auto;
}

.navigation-menu,
.navigation-user {
  margin-top: -4px;
}

.navigation-user-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  width: 500px;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.navigation-user-item {
  display: flex;
}

.navigation-user-item:not(:last-child) {
  margin-right: 16px;
}

.navigation-user-item-phone:not(:last-child) {
  margin-right: 2px;
}

.header-contact-phone {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
}

.button-header {
  font-size: 14px;
  font-weight: 400;
  padding: 6px 16px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  border: none;
  outline: none;
}

.search-button {
  color: inherit;
  width: 32px;
  height: 32px;
  position: relative;
  padding-left: 8px;
}

.button-link:hover,
.button-header:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
  border: none;
  outline: none;
}

.button-link:active,
.button-header:focus-visible {
  background-color: #FCFCFC;
  border-radius: 30px;
  border: none;
  outline: none;
}

.button-link:focus-visible,
.button-header:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
  border-radius: 30px;
  border: none;
}

.button-link-current,
.button-header-current {
  background-color: #FF4A78;
  border-radius: 30px;
  color: #FCFCFC;
  border: none;
  outline: none;
}

.log-in-button,
.basket-button {
  display: flex;
  align-items: center;
}

.log-in-button-icon,
.basket-button-icon {
  margin-right: 6px;
}

.basket-number-of-products {
  margin-right: 4px;
}

/* popover */

.popover {
  display: block;
  background-color: #FCFCFC;
  border-radius: 4px;
  position: absolute;
  box-sizing: border-box;
  margin-top: 6px;
  top: 47px;
  z-index: 1;
}

.popover-search {
  transform: translateX(-91%);
  top: 65px;
  padding: 24px 16px;
  width: 356px;
  display: none;
}

.search-form {
  margin: 0;
  position: relative;
}

.delete-button {
  position: relative;
  display: block;
  top: -2px;
  right: -2px;
  width: 20px;
  height: 20px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.delete-button::before,
.delete-button::after {
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  top: 10px;
  left: 5px;
  width: 12px;
  height: 2px;
  background: #2D3440;
}

.delete-button::before {
  transform: rotate(45deg);
}

.delete-button::after {
  transform: rotate(-45deg);
}

.delete-button-search {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 16px;
  height: 16px;
  opacity: 0.4;
}

.delete-button-search::before,
.delete-button-search::after {
  top: 8px;
  left: 0;
  width: 16px;
  height: 1px;
}

.field-search-form:placeholder-shown~.delete-button-search {
  display: none;
}

.field {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  padding: 14px 16px;
  outline: 1px solid #B9B9B9;
  border: none;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  min-width: 322px;
}

.field::placeholder {
  color: #B9B9B9;
}

.field:focus-visible {
  outline: 2px solid #2D3440;
}

.field:invalid {
  outline: 1px solid #EA5454;
}

.field:invalid:hover {
  outline: 2px solid #EA5454;
}

.field:disabled,
.field:disabled:hover {
  background: #E7E7E7;
  outline: 1px solid #B9B9B9;
}

.field:placeholder-shown {
  outline: 1px solid #B9B9B9;
}

.field:hover,
.field:placeholder-shown:hover {
  outline: 1px solid #2D3440;
}

.delete-button:hover,
.delete-button-search:hover {
  opacity: 0.3;
}

.delete-button:active,
.delete-button-search:active {
  opacity: 1;
}

.delete-button:focus-within,
.delete-button-search:focus-within {
  outline: 2px solid rgb(45, 52, 64, 0.3);
}

.delete-button:invalid,
.delete-button-search:invalid {
  opacity: 0.1;
}

.popover-log-in {
  padding: 48px;
  width: 420px;
  transform: translateX(-79.5%);
  top: 65px;
  display: none;
}

.popover-header-text {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.log-in-email-form {
  margin-bottom: 31px;
}

.field-log-in-email {
  margin-bottom: 16px;
}

.field-log-in-password,
.field-log-in-email {
  margin-left: 2px;
  padding: 14px 14px;
}

.popover-buttons {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 23px;
  margin: 0;
}

.popover-buttons-basket {
  column-gap: 32px;
  align-items: baseline;
  margin-top: 62px;
  position: relative;
}

.popover-buttons-basket::before {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #E7E7E7;
  width: 100%;
  top: -32px;
}

.button-popover {
  background-color: #FF2F64;
  border: none;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  grid-column: 1/2;
  grid-row: 1/3;
  min-height: 48px;
  color: #FCFCFC;
}

.button-popover-get-in {
  padding: 10px 32px;
  width: 113px;
  min-height: 46px;
}

.popover-basket-button {
  min-width: 198px;
  min-height: 44px;
}

.popover-link {
  grid-column: 2/3;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
  padding-bottom: -2px;
  position: relative;
}

.popover-link::before {
  content: "";
  position: absolute;
  background-color: #2D3440;
  width: 100%;
  height: 1px;
  top: 20px;
  bottom: 0;
}

.popover-link-forgot-password {
  grid-row: 1/2;
}

.popover-link-registration {
  grid-row: 2/3;
}

.popover-link-registration::before {
  width: 89px;
}

.popover-link:hover {
  opacity: 0.6;
}

.popover-link:active {
  opacity: 0.3;
}

.popover-link:focus-within {
  background-color: rgb(250, 144, 183, 0.3);
}

.popover-link:invalid {
  opacity: 0.1;
}

.button-popover:hover {
  outline: 4px solid #FF2F64;
  border: none;
  color: #2D3440;
}

.button-popover:active,
.button-popover:focus-visible {
  outline: 2px solid #2d3440;
  border: none;
  background-color: #feafc3;
  color: #fcfcfc;
}

.button-popover:focus-visible {
  background-color: #ff2f64;
}

.button-popover:disabled {
  background: #b9b9b9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
}

/* popover-basket */

.popover-basket {
  padding-right: 48px;
  padding-top: 50px;
  padding-bottom: 48px;
  padding-left: 50px;
  width: 441px;
  transform: translateX(-74.5%);
  top: 65px;
  display: none;
}

.popover-basket-no-items {
  padding: 48px 0;
  min-width: 288px;
  transform: translateX(-68.5%);
  display: none;
}

.popover-basket-no-items-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  text-align: center;
}

.basket-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.basket-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.basket-item:not(:last-child) {
  margin-bottom: 24px;
}

.basket-link {
  display: grid;
  grid-template-columns: max-content 148px max-content;
  grid-template-rows: repeat(2, min-content);
  align-items: center;
  text-decoration: none;
  color: inherit;
  column-gap: 16px;
}

.basket-link:hover {
  opacity: 0.3;
}

.basket-link:active {
  opacity: 1;
}

.basket-link:focus-within {
  outline: 2px solid rgb(45, 52, 64, 0.3);
  outline-offset: 4px;
}

.basket-link:invalid {
  opacity: 0.1;
}

.basket-image {
  grid-row: 1/3;
}

.basket-item-description {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 0;
}

.basket-item-description-amount {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #B9B9B9;
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 0;
}

.basket-item-amount {
  grid-column: 3/4;
  grid-row: 1/3;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.full-amount-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

/* main-index */

.main-container {
  flex-grow: 1;
}

.main-index {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  column-gap: 30px;
  row-gap: 80px;
}

.section-header {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin: 0;
  margin-bottom: 55px;
  grid-column: 1/-1;
}

/* main-slider */

.main-slider {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-column: 1/-1;
  min-height: 552px;
  position: relative;
}

.slider-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}

.slider-current {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.slider-item {
  min-height: 552px;
  position: relative;
}

.slider-title {
  font-size: 36px;
  width: 470px;
  text-align: start;
  margin: 135px 0 23px 70px;
}

.slider-item-text {
  width: 414px;
  text-align: start;
  margin: 0;
  margin-left: 70px;
  margin-bottom: 48px;
}

.slider-item-image-group {
  list-style-type: none;
  display: flex;
  position: absolute;
  top: 20px;
  right: 0;
  padding: 0;
  margin: 0;
}

.slider-image-item {
  position: relative;
  display: flex;
  justify-content: center;
  margin-left: 43px;
}

.slider-image-item:first-child {
  width: 312px;
  margin: 0;
  margin-right: 22px;
}

.slider-image-item:first-child::before {
  content: "";
  position: absolute;
  width: 312px;
  height: 312px;
  left: calc(50% - 312px/2 + 3px);
  top: calc(50% - 312px/2);
  border-radius: 50%;
  z-index: -1;
}

.slider-item-image-group-pink .slider-image-item:first-child::before,
.slider-item-image-group-pink .slider-image-small::before {
  background-color: #FFCBD8;
}

.slider-item-image-group-blue .slider-image-item:first-child::before,
.slider-item-image-group-blue .slider-image-small::before {
  background-color: #9FC8FF;
}

.slider-item-image-group-orange .slider-image-item:first-child::before,
.slider-item-image-group-orange .slider-image-small::before {
  background-color: #FCDC92;
}

.slider-image-small {
  opacity: 0.4;
  margin-top: 182px;
  margin-right: 6px;
}

.slider-image-small::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  left: calc(50% - 100px/2);
  top: calc(50% - 100px/2 - 88px);
  border-radius: 50%;
  z-index: -1;
}

.slider-link-item-button {
  margin-left: 70px;
}

.slider-pagination {
  display: grid;
  grid-template-columns: 12px 12px 12px;
  gap: 8px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  list-style-type: none;
}

.slider-pagination-button {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #FCFCFC;
  opacity: 0.3;
  border: none;
  cursor: pointer;
}

.slider-pagination-button-current {
  opacity: 1;
}

.slider-pagination-button:hover,
.slider-pagination-button-current:hover {
  opacity: 0.3;
  outline: 2px solid rgb(252, 252, 252, 1);
}

.slider-pagination-button:active,
.slider-pagination-button-current:active {
  opacity: 0.3;
}

.slider-pagination-button:focus-visible,
.slider-pagination-button-current:focus-visible {
  outline: 2px solid #2D3440;
}

.slider-social-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  column-gap: 16px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

.slider-social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 24px;
}

.slider-social-button {
  display: block;
  width: 28px;
  height: 28px;
}

.slider-social-item:hover {
  background-color: #2D3440;
}

.slider-social-item:active {
  opacity: 0.5;
}

.slider-social-item:focus-visible {
  background-color: #2D3440;
  outline: 3px solid #2D3440;
  border: none;
}

.slider-buttons {
  display: flex;
  justify-content: space-between;
  width: 350px;
  position: absolute;
  top: 256px;
  left: 543px;
}

.slider-button {
  display: block;
  align-items: center;
  width: 38px;
  height: 38px;
  background-color: rgba(252, 252, 252, 0.3);
  color: #FCFCFC;
  border: none;
  outline: 2px solid #FCFCFC;
  border-radius: 26px;
  cursor: pointer;
}

.slider-prev {
  transform: rotate(180deg);
}

.slider-button:hover {
  color: #2D3440;
  background-color: #FCFCFC;
}

.slider-button:active {
  color: #FCFCFC;
  background-color: rgba(252, 252, 252, 0.5);
}

.slider-button:focus-visible {
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #2D3440;
}

/* main-promotion */

.main-promotion {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(2, 570px);
  column-gap: 30px;
  justify-items: center;
}

.promotion-title {
  width: 434px;
}

.promotion-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  column-gap: 30px;
  justify-items: center;
}

.promotion-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  width: 570px;
  min-height: 268px;
  background: #FF7799;
  border-radius: 16px;
  position: relative;
  padding: 36px;
  margin: 0;
}

.promotion-item:nth-child(1) {
  grid-column: 1/3;
}

.promotion-item:nth-child(2n) {
  grid-column: 3/-1;
}

.promotion-item-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.promotion-item-text {
  width: 328px;
  margin: 0;
  font-size: 16px;
  line-height: 22px;
}

.promotion-item-image {
  position: absolute;
  top: 0;
  right: 0;
}

/* popular-ice-cream */

.popular-ice-cream {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  column-gap: 30px;
  justify-items: center;
}

.popular-ice-cream-title {
  width: 527px;
}

.popular-ice-cream-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 30px;
  justify-items: center;
}

.popular-ice-cream-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  width: 270px;
  min-height: 281px;
  background: #FCFCFC;
  border-radius: 8px;
  position: relative;
  padding: 134px 40px 24px;
  margin: 0;
  margin-top: 51px;
}

.popular-ice-cream-item-title {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 12px;
}

.popular-ice-cream-item-text {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 13px;
}

.popular-ice-cream-item-image {
  position: absolute;
  top: -49px;
}

.price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.price-and-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 190px;
}

.basket-item-button {
  width: 32px;
  min-height: 32px;
  border-radius: 26px;
  padding: 0;
  padding-top: 4px;
}

/* main-about-us */

.main-about-us {
  grid-column: 1/-1;
  background-image: url(../images/background-about-us.jpg);
  background-position: 0 0, center;
  border-radius: 16px;
  padding: 24px;
}

.about-us-container {
  width: 1122px;
  display: grid;
  grid-template-columns: repeat(2, 570px);
  column-gap: 30px;
  border-radius: 16px;
  background-color: #FFFFFF;
  padding: 56px 0;
}

.about-us-title {
  width: 995px;
  margin-left: 63.5px;
}

.about-us-list {
  list-style-type: none;
  padding: 0;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(2, 505px);
  column-gap: 30px;
  row-gap: 40px;
  margin: 0 40px;
}

.about-us-item {
  background-repeat: no-repeat;
  background-position: left top;
}

.about-us-text-ice-cream {
  background-image: url(../images/ice-cream-icon.svg);
}

.about-us-text-suppliers {
  background-image: url(../images/cow-icon.svg);
}

.about-us-text-ingredients {
  background-image: url(../images/leaf.svg);
}

.about-us-text-delivery {
  background-image: url(../images/thermometer-icon.svg);
}

.about-us-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  padding-left: 64px;
  margin: 0;
}

/* blog-subscription */

.blog-subscription {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(2, 570px);
  column-gap: 30px;
}

.section-item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-start;
  min-height: 224px;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.blog-link {
  background-image: url(../images/blog-link-background.jpg);
  background-position: 100%;
  background-repeat: no-repeat;
  padding: 33px;
}

.blog-link-header {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #565C66;
  margin: 0;
  margin-bottom: 12px;
  margin-top: 2px;
}

.blog-link-title {
  width: 303px;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  cursor: pointer;
}

.blog-link-title:hover {
  opacity: 0.6;
}

.blog-link-title:active {
  opacity: 0.3;
}

.subscription {
  padding: 6px;
  background-image: url(../images/subscription-background.jpg);
  background-position: 100%;
}

.subscription-container {
  padding: 27px;
  background-color: #FFFFFF;
  flex-grow: 1;
  border-radius: 16px;
}

.subscription-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 44px;
}

.subscription-form {
  display: flex;
  justify-content: space-between;
}

.field-subscription {
  padding: 14px 16px;
  width: 332px;
  box-sizing: border-box;
  outline: 1px solid #B9B9B9;
  border-radius: 4px;
  background: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.field-subscription::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
}

.subscription-button {
  width: 152px;
  min-height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
}
